* {
  margin: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

.container {
  margin: 150px auto;
  width: 1200px;
  height: 700px;
  background: url(/img/background.png) center/cover;
}

.round{
  position: absolute;
  top: 550px;
  width: 1200px;
  height: 300px;
  border: 1px solid black;
}

.carrot, .bug:hover {
  cursor: pointer;
}